.background-reference {
  @include center-items-horizontally;

  border-bottom: 0.3rem dashed $color-green;
  border-top: 0.3rem dashed $color-green;
  padding-bottom: 3.5rem;
  padding-top: 3.5rem;
  width: 100%;

  &__title {
    margin-top: 0;
  }

  &__label {
    color: $color-blue;
    display: block;
    font-family: $font-value-family;
  }

  &__link {
    color: $color-blue;
    font-family: $font-value-family;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;

    @include mq($from: tablet) {
      font-size: 1.4rem;
    }

    &:hover,
    &:focus {
      color: $color-green;
    }
  }

  .title:hover,
  .title:focus {
    color: $color-red;
  }
}
