$burger-stripes-height: 0.5rem;

.burger {
  appearance: none;
  background: transparent;
  border: none;
  color: currentColor;

  &:hover,
  &:focus {
    color: $color-green;
    cursor: pointer;
  }

  &__icon {
    border-bottom: $burger-stripes-height solid $color-green;
    border-top: $burger-stripes-height solid currentColor;
    display: block;
    height: $burger-stripes-height;
    line-height: 1;
    position: relative;
    width: 100%;
  }

  &:hover &__icon,
  &:focus &__icon {
    border-bottom-color: white;
  }

  &__label {
    border-top: $burger-stripes-height solid currentColor;
    color: currentColor;
    display: block;
    font-family: $font-value-family;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    line-height: 1;
    margin-top: $burger-stripes-height;
    padding-top: 1rem;
    text-transform: uppercase;
    width: 100%;
  }
}
