.explainer {
  font-family: $font-value-family;
  margin-bottom: 3rem;
  margin-top: 1.5rem;

  @include mq($from: tablet) {
    margin-bottom: 5rem;
    margin-left: -10rem;
    margin-top: 2.5rem;
  }

  &__term {
    color: $color-green;
    font-size: 1.7rem;
    font-style: normal;
    font-weight: 700;
    margin-right: 0.5rem;

    @include mq($from: tablet) {
      font-size: 2.2rem;
    }
  }

  &__summary {
    color: $color-blue;
    cursor: pointer;
    display: block;
    font-size: 1.6rem;
    font-style: italic;
    line-height: 1.5;

    @include mq($from: tablet) {
      font-size: 2rem;
    }

    &::-webkit-details-marker {
      display: none;
    }

    &:hover,
    &:focus {
      color: $color-green;
    }
  }

  &__intro {
    display: inline;
    margin-bottom: 0;
    margin-top: 0;

    &::after {
      content: 'Mehr lesen …';
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 700;
      margin-left: 0.5rem;
      text-transform: uppercase;

      @include mq($from: tablet) {
        font-size: 1.6rem;
      }
    }
  }

  &[open] &__intro:after {
    display: none;
  }
}
