.figure {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin: 0;
  max-width: 100%;

  @include mq($from: tablet) {
    flex-direction: row;
  }

  &--is-reversed {
    @include mq($from: tablet) {
      flex-direction: row-reverse;
    }
  }

  &--is-columnized {
    display: table;
  }

  &__caption-container {
    @include mq($from: tablet) {
      max-width: 25%;
    }

    > * + * {
      margin-top: 1rem;

      @include mq($from: tablet) {
        margin-top: 1.5rem;
      }
    }
  }

  &--is-columnized &__caption-container {
    display: table-caption;
    caption-side: bottom;
    max-width: none;
  }

  > .video,
  &__media {
    flex-grow: 1;
    height: auto;
    margin-bottom: 1rem;
    max-width: 100%;
    object-fit: contain;

    @include mq($from: tablet) {
      margin-bottom: 0;
      margin-right: 2.5rem;
      max-width: 75%;
    }
  }

  &--is-reversed > .video,
  &--is-reversed > &__media {
    margin-right: 0;

    @include mq($from: tablet) {
      margin-left: 2.5rem;
    }
  }

  &--is-columnized > .video,
  &--is-columnized > &__media {
    margin-bottom: 1rem;
    margin-right: 0;

    @include mq($from: tablet) {
      margin-bottom: 2.5rem;
    }
  }

  &__title {
    font-family: $font-value-family;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.2;
    word-break: break-all;

    @include mq($from: tablet) {
      font-size: 2.4rem;
    }
  }

  &__description {
    font-family: $font-value-family;
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 0;

    @include mq($from: tablet) {
      font-size: 1.6rem;
    }
  }

  &__caption {
    display: block;
    font-family: $font-value-family;
    font-size: 1rem;
    line-height: 1.5;

    @include mq($from: tablet) {
      font-size: 1.4rem;
    }
  }
}
