.figure {
  display: flex;
  flex-direction: row;
  margin: 0;
  max-width: 100%;

  &--is-reversed {
    flex-direction: row-reverse;
  }

  &--is-columnized {
    display: table;
  }

  &__caption-container {
    max-width: 25%;
  }

  &--is-columnized &__caption-container {
    display: table-caption;
    caption-side: bottom;
    max-width: none;
  }

  > img {
    flex-grow: 1;
    height: auto;
    margin-right: 2.5rem;
    max-width: 100%;
    object-fit: contain;
  }

  &--is-reversed > img {
    margin-left: 2.5rem;
    margin-right: 0;
  }

  &--is-columnized > img {
    margin-bottom: 2.5rem;
    margin-right: 0;
  }

  &__title {
    font-family: $font-value-family;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2;
    word-break: break-all;
  }

  &__description {
    font-family: $font-value-family;
    font-size: 1.6rem;
    line-height: 1.5;
  }

  &__caption {
    font-family: $font-value-family;
    font-size: 1.4rem;
    line-height: 1.5;
  }
}
