.footer {
  @include center-items-horizontally;

  background-color: $color-blue;
  color: white;
  margin-top: 5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;

  .menu {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;

    .menu-item + .menu-item {
      margin-left: 1.5rem;
    }

    a {
      color: currentColor;
      display: block;
      font-family: $font-value-family;
      font-size: 2.4rem;
      font-weight: 700;
      line-height: 1;
      padding-bottom: 2rem;
      padding-top: 2rem;
      text-decoration: none;

      &:hover,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}
