.full-bleed {
  @include center-items-horizontally;

  width: 100%;

  &--fill-blue,
  &--fill-red,
  &--fill-yellow,
  &--fill-green {
    padding-bottom: 2rem;
    padding-top: 2rem;

    @include mq($from: tablet) {
      padding-bottom: 5rem;
      padding-top: 5rem;
    }

    @media print {
      padding-bottom: 1rem;
      padding-top: 1rem;
    }
  }

  &--fill-blue {
    background-color: $color-blue;
    color: white;

    @media print {
      background-color: transparent;
      color: $color-blue;
    }
  }

  &--fill-red {
    background-color: $color-red;
    color: white;

    @media print {
      background-color: transparent;
      color: $color-blue;
    }
  }

  &--fill-yellow {
    background-color: $color-yellow;
    color: $color-blue;

    @media print {
      background-color: transparent;
      color: $color-blue;
    }
  }

  &--fill-green {
    background-color: $color-green;
    color: $color-blue;

    @media print {
      background-color: transparent;
      color: $color-blue;
    }
  }

  &--with-margin {
    margin-bottom: 2rem;
    margin-top: 2rem;

    @include mq($from: tablet) {
      margin-bottom: 5rem;
      margin-top: 5rem;
    }

    @media print {
      margin-bottom: 1.5rem;
      margin-top: 1.5rem;
    }
  }

  &--with-margin-bottom {
    margin-bottom: 2rem;
    margin-top: 0;

    @include mq($from: tablet) {
      margin-bottom: 5rem;
      margin-top: 0;
    }

    @media print {
      margin-bottom: 1.5rem;
    }
  }

  &--collapse-margin-top {
    margin-top: -2rem;

    @include mq($from: tablet) {
      margin-top: -5rem;
    }

    @media print {
      margin-top: 0;
    }
  }
}
