.full-bleed {
  @include center-items-horizontally;

  padding-bottom: 2rem;
  padding-top: 2rem;
  width: 100%;

  @include mq($from: tablet) {
    padding-bottom: 5rem;
    padding-top: 5rem;
  }

  &--fill-blue {
    background-color: $color-blue;
    color: white;
  }

  &--fill-red {
    background-color: $color-red;
    color: white;
  }

  &--fill-yellow {
    background-color: $color-yellow;
    color: $color-blue;
  }

  &--fill-green {
    background-color: $color-green;
    color: $color-blue;
  }

  &--with-margin {
    margin-bottom: 2rem;
    margin-top: 2rem;

    @include mq($from: tablet) {
      margin-bottom: 5rem;
      margin-top: 5rem;
    }
  }
}
