.full-bleed {
  @include center-items-horizontally;

  padding-bottom: 5rem;
  padding-top: 5rem;
  width: 100%;

  &--fill-blue {
    background-color: $color-blue;
    color: white;
  }

  &--fill-red {
    background-color: $color-red;
    color: white;
  }

  &--with-margin {
    margin-bottom: 5rem;
    margin-top: 5rem;
  }
}
