.header {
  @include center-items-horizontally;

  background-color: $color-blue;
  color: white;
  padding: 1rem;

  > .constraint {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
