.header {
  @include center-items-horizontally;

  background-color: $color-blue;
  color: white;

  &__title {
    color: currentColor;
    font-family: $font-din-family;
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;
  }

  > .constraint {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
