.hero {
  @include center-items-horizontally;

  background-color: $color-red;
  justify-content: center;
  height: 50vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  @include mq($from: tablet) {
    height: calc(100vh - 9rem);
  }

  &__image {
    height: 100%;
    left: 50%;
    min-width: 100%;
    mix-blend-mode: multiply;
    object-fit: cover;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    z-index: 1;
  }

  &__title {
    color: white;
    font-family: $font-din-family;
    font-size: 4.5rem;
    font-weight: 700;
    hyphens: auto;
    line-height: 1;
    position: relative;
    z-index: 2;

    @include mq($from: tablet) {
      font-size: 12rem;
    }
  }

  &--is-centered &__title {
    text-align: center;
  }

  &__chapter-subline,
  &__chapter {
    display: block;
    font-family: $font-value-family;
    font-size: 1.6rem;
    line-height: 1;

    @include mq($from: tablet) {
      font-size: 2.4rem;
    }
  }

  &__chapter-subline {
    margin-bottom: 0;
    margin-top: 1.5rem;
  }

  &__chapter {
    margin-bottom: 2rem;
    margin-top: 0;
  }
}
