.hero {
  @include center-items-horizontally;

  justify-content: center;
  height: 100vh;

  &__title {
    font-family: $font-din-family;
    font-size: 12rem;
    font-weight: 700;
    line-height: 1;
  }
}
