.list {
  li {
    color: $color-blue;
    font-family: $font-value-family;
    font-size: 1.65rem;
    font-weight: 400;
    line-height: 1.5;

    @include mq($from: tablet) {
      font-size: 2rem;
    }
  }
}
