.navigation {
  z-index: 10;

  @include mq($from: tablet) {
    position: relative;
  }

  @mixin link() {
    font-family: $font-value-family;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1;

    @include mq($from: tablet) {
      font-size: 2.4rem;
    }
  }

  &[open] {
    background-color: $color-red;
  }

  &--theme-background[open] {
    background-color: $color-green;
  }

  &__summary {
    @include link();

    display: block;
    padding-bottom: 2rem;
    padding-top: 2rem;
    user-select: none;

    @include mq($from: tablet) {
      padding-bottom: 3.25rem;
      padding-top: 3.25rem;
    }

    &::-webkit-details-marker {
      display: none;
    }
  }

  &__menu {
    list-style: none;
    margin-bottom: 0;
    margin-top: 0;
    min-width: 100%;
    padding-bottom: 0.5rem;
    padding-left: 0;
    padding-top: 0.5rem;
    position: absolute;
    top: 100%;

    @include mq($from: tablet) {
      padding-bottom: 2.5rem;
      padding-top: 2.5rem;
    }

    a {
      @include link();

      color: currentColor;
      display: block;
      padding-bottom: 1.5rem;
      padding-top: 1.5rem;
      text-decoration: none;
      white-space: nowrap;

      &:hover,
      &:focus {
        color: $color-blue;
      }
    }
  }

  &--theme-chapters &__menu {
    background-color: $color-red;
    left: 0;
  }

  &--theme-background &__menu {
    background-color: $color-green;
    right: 0;
  }

  &__summary,
  &__menu {
    padding-left: 1rem;
    padding-right: 1rem;

    @include mq($from: tablet) {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }
}
