.next {
  color: $color-blue;
  margin-bottom: -5rem;
  margin-top: 6rem;

  .excerpt {
    margin-bottom: 6rem;
  }

  &__link-label {
    color: $color-blue;
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;

    @include mq($from: tablet) {
      font-size: 2.4rem;
    }
  }

  &__link {
    color: currentColor;
    font-family: $font-din-family;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1;
    text-decoration: none;

    @include mq($from: tablet) {
      font-size: 7.5rem;
    }

    &:hover,
    &:focus {
      color: white;
    }

    &--next::after {
      content: '▸';
      margin-left: 1.5rem;
    }

    &--back::before {
      content: '◂';
      margin-right: 1.5rem;
    }
  }
}
