.title {
  color: $color-blue;
  font-family: $font-din-family;
  font-size: 11rem;
  font-weight: 700;
  line-height: 1.25;

  &__inner {
    box-decoration-break: clone;
    box-shadow: inset 0 -2.25rem $color-green;
    line-height: 1;
  }
}
