.title {
  color: $color-blue;
  font-family: $font-din-family;
  font-size: 5rem;
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-decoration: none;

  @include mq($from: tablet) {
    font-size: 11rem;
  }

  &--is-small {
    font-size: 2.5rem;

    @include mq($from: tablet) {
      font-size: 3.5rem;
    }
  }

  &--is-medium {
    font-size: 3rem;
    margin-bottom: 2.5rem;

    @include mq($from: tablet) {
      font-size: 7.5rem;
    }
  }

  &__inner {
    box-decoration-break: clone;
    box-shadow: inset 0 -1.25rem $color-green;
    line-height: 1;

    @include mq($from: tablet) {
      box-shadow: inset 0 -2.25rem $color-green;
    }
  }

  &--is-small &__inner {
    box-shadow: inset 0 -0.75rem $color-green;
  }

  &--is-not-underlined &__inner {
    box-shadow: none;
  }
}
