.video {
  color: white;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;

  @media print {
    color: $color-blue;
    page-break-inside: avoid;
  }

  &--is-active {
    display: none;
  }

  &__preview-image-container {
    background-color: rgb(40, 40, 40);
    font-size: 0;
  }

  &__preview-image {
    height: auto;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
    object-fit: contain;
    width: 100%;

    @media print {
      opacity: 1;
    }
  }

  &:hover &__preview-image,
  &:focus &__preview-image {
    opacity: 0.8;
  }

  &__play-icon {
    display: block;
    flex: 0 0 auto;
    font-weight: 400;
    height: 5rem;
    width: 5rem;

    @media print {
      display: none;
      height: 0 !important;
      width: 0 !important;
    }

    @include mq($from: tablet) {
      height: 8rem;
      width: 8rem;
    }
  }

  &:hover &__play-icon,
  &:focus &__play-icon {
    color: $color-red;
  }

  &__length {
    display: block;
    font-family: $font-value-family;
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 0.25rem;
    text-shadow: 0;

    @include mq($from: tablet) {
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
    }
  }

  &__quote {
    font-family: $font-din-family;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin: auto 0 0 1rem;

    @include mq($from: tablet) {
      font-size: 3rem;
      margin-left: 2.5rem;
    }

    @media print {
      font-size: 2rem;
      margin-left: 0;
    }
  }

  &__content {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
    width: 100%;

    @include mq($from: tablet) {
      padding: 2.5rem;
    }

    @media print {
      position: static;
      text-shadow: none;
    }
  }
}
