.video {
  color: currentColor;
  display: block;
  position: relative;
  text-decoration: none;

  &__preview-image {
    height: auto;
    width: 100%;
  }

  &__play-icon {
    display: block;
    height: 4rem;
    margin-bottom: 0.5rem;
    width: 4rem;

    @include mq($from: tablet) {
      height: 12rem;
      margin-bottom: 1.5rem;
      width: 12rem;
    }
  }

  &__length {
    display: inline-block;
    font-family: $font-value-family;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include mq($from: tablet) {
      font-size: 1.6rem;
    }
  }

  &__quote {
    font-family: $font-din-family;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 0 1rem;

    @include mq($from: tablet) {
      font-size: 3.5rem;
      margin-left: 2.5rem;
    }
  }

  &__content {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 2.5rem;
    position: absolute;
    width: 100%;
  }

  iframe {
    display: none;
  }
}
