.video {
  color: white;
  display: block;
  position: relative;
  text-decoration: none;
  width: 100%;

  &--is-active {
    display: none;
  }

  &__preview-image-container {
    background-color: rgb(40, 40, 40);
    font-size: 0;
  }

  &__preview-image {
    height: auto;
    opacity: 0.5;
    transition: opacity 200ms ease-in-out;
    width: 100%;
  }

  &:hover &__preview-image,
  &:focus &__preview-image {
    opacity: 0.8;
  }

  &__play-icon {
    display: block;
    height: 5rem;
    margin-bottom: 0.5rem;
    width: 5rem;

    @include mq($from: tablet) {
      height: 12rem;
      margin-bottom: 1.5rem;
      width: 12rem;
    }
  }

  &:hover &__play-icon,
  &:focus &__play-icon {
    color: $color-red;
  }

  &__length {
    display: inline-block;
    font-family: $font-value-family;
    font-size: 1.15rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;

    @include mq($from: tablet) {
      font-size: 1.6rem;
    }
  }

  &__quote {
    font-family: $font-din-family;
    font-size: 2rem;
    font-weight: 700;
    line-height: 1;
    margin: 0 0 0 1rem;

    @include mq($from: tablet) {
      font-size: 3.35rem;
      margin-left: 2.5rem;
    }
  }

  &__content {
    align-items: center;
    bottom: 0;
    display: flex;
    left: 0;
    padding: 1rem;
    position: absolute;
    text-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.5);
    width: 100%;

    @include mq($from: tablet) {
      padding: 2.5rem;
    }
  }

  iframe {
    display: none;
  }
}
